<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSTORE</title>
    <style>
        a{
            text-decoration: none;
            color: grey;
            font-size: 100px;
            margin: 1px;
            border: 10px;

        }
        body{
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
                height: 63px;
               justify-content: space-around;
               background-color: grey;
               font-family: Georgia, 'Times New Roman', Times, serif;
             }
             .menu a{
                 font-size: 50px;
                 text-align: center;
                 font-weight: bolder;
                 color:white;
                 font-family: Georgia, 'Times New Roman', Times, serif;
                 text-decoration: none;
             }
             body{
                color: grey;
             }
             h1{
                font-size: 40px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             }
    </style>
</head>
<body>
    <center><h1><a class = "box" href="https://bookstore-website.s3.ap-south-1.amazonaws.com/eBookStore/index.html">E-BookStore</a></h1></center>
       <div class="menu">

           <a href="/add">ADD BOOK</a>
           <a href="/search">SEARCH BOOK</a>
           <a href="/update">UPDATE BOOK</a>
           <a href="/delete">DELETE BOOK</a>
           <a href="/view">VIEW BOOK</a>
       </div>
</body>
</html>